@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to HR-ERP</h1>    
</div>
<div class="row">
    <div class="col-md-12 mb-2">
        <p>
            While selecting software to meet the HR needs of your organization, you might often see both the term ERP and HRIS. Though both of these are systems designed to offer HR solutions, they are not the same. It’s necessary to understand the differences between ERP and an HRIS and what each system offers. This will help you choose the best software to improve your organization’s HR operations. In this article, we break down the basics of both and outline their key differences.
        </p>

        <p>Enterprise Resource Planning, abbreviated as ERP, is a software system that allows organizations to integrate the operations of all their core departments, including sales, accounting, HR, finance, inventory, marketing, and more. As a result, all of these fundamental processes can be managed from a centralized system where all the departments will share a common database. ERP can be customized based on the size and type of your organization. It can be cloud-based, on-premises, or both.</p>

        <p>    A Human Resource Information System, known as HRIS, is a full-on HR solution that allows you to maintain all your HR operations from a single, centralized system. All HR-related data can be accessed, maintained, tracked, and stored in an HRIS, which facilitates data-powered decisions. Just like ERP, an HRIS can be hosted on both the cloud and your actual work premises. Check out our detailed blog on what an HRIS means to learn more about HRIS.
        </p>
    </div>
</div>
